<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.4.0.40" targetFramework="net461" />
  <package id="Syncfusion.SfChart.WPF" version="17.4.0.40" targetFramework="net461" />
  <package id="Syncfusion.Xamarin.Core" version="17.4.0.40" targetFramework="net461" />
  <package id="Syncfusion.Xamarin.SfChart" version="17.4.0.40" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.6.0.344457" targetFramework="net461" />
</packages>