USE [master]
GO
/****** Object:  Database [wpfProjectBase]    Script Date: 11/01/2020 21:55:51 ******/
CREATE DATABASE [wpfProjectBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wpfProjectBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\wpfProjectBase.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'wpfProjectBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\wpfProjectBase_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wpfProjectBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wpfProjectBase]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 11/01/2020 21:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin](
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[etudiant]    Script Date: 11/01/2020 21:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[etudiant](
	[cne] [varchar](50) NOT NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[dateNaiss] [date] NULL,
	[tof] [varchar](500) NULL,
	[id_filiere] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[filiere]    Script Date: 11/01/2020 21:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[filiere](
	[id_filiere] [int] NOT NULL,
	[nom_filiere] [varchar](50) NULL,
	[chef_filiere] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_filiere] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[etudiant]  WITH CHECK ADD FOREIGN KEY([id_filiere])
REFERENCES [dbo].[filiere] ([id_filiere])
GO
USE [master]
GO
